extends layout

block content
  section(class='desk')
    h1= `${error.message} - Status: ${error.status}`
    img(src='/static/img/desk.svg', class='desk-items')
    a(class='button-primary-small', href='/') Go Home
    div(class='paper')
      pre(class='stack-trace')= error.stack
    div(class='tear')
  
  
