extends layout

block content
  section(class='namecard')
    div(class='namecard-hello')
      p(class='namecard-greeting') Hello, student!
    form(action='/hello', method='post', class='namecard-form')  
      label(class='namecard-prompt') Please enter your name:
      input(class='namecard-name', type='text', name='username')
      |
      button(class='namecard-submit', type='submit') Submit
